body{
    font-family: 'Montserrat', sans-serif;
}
.welcome-container{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 10%;
}
.icon-container{
    width: 15%;
    margin: auto;
}
.icon-container img{
    width: 100%;
    height: auto;
 }
.welcome-description{

}
.title-main{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
}
.default-text{
    font-size: 20px;
    text-align: center;
    width: 83%;
    margin: auto;
}
.main-green-button{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
    border-radius: 5px;
    background-color: #006155;
    border: #006155;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.main-green-button:hover{
    box-shadow: 0 0 5px #006155;
}
.testing{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 17px;
    border-radius: 5px;
    background-color: #006155;
    border: #006155;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

